.content {
  background-image: url('../../images/background.svg');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-y: bottom;
}
.box-teste-vocacional {
  background-color: var(--bege-secundario);
  width: 328px;
  min-height: 40%;
  border-radius: 16px;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
  transition: 0.5s;
}

.box-teste-vocacional h1 {
  color: #022e40;
  font-size: 1.5rem;
}

.box-teste-vocacional button {
  background-color: var(--laranja-primario);
  color: var(--bege-secundario);
  font-size: .8rem;
  font-weight: bold;
  line-height: 16px;

  border: none;
  width: 120px;
  height: 36px;
  border-radius: 8px;
  outline: none;
}

button.clique {
  background-color: transparent;
  color: var(--laranja-primario);
  font-size: .7rem;
}

.popup {
  background-color: var(--azul-primario);
  color: var(--azul-secundario);
  font-weight: bold;

  width: 328px;
  height: 36px;
  border-radius: 12px;
  
  position: fixed;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
    top: 30px;
  } 50% {
    opacity: 1;
    top: 60px;
  }
}